:root {
    background-color: #0a0a23;
    color:#ffffff;
}
.container {
    font-family: monospace;
}
.header {
    color: #ffffff;
}

.header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    padding: 50px;
       
  }
  
.header h1 {
    text-align: center;
  }
#title{
      font-size: 35px;
    }
#description {
      text-align: center;
      font-size: 20px;
      
  }
#survey-form {
      border-radius: 5px;
      border-color: #3b3b4f;
      width: 50%;
      margin: auto;
      color: #ffffff;
      border-width: 10px;
      border-style:outset;
    }
    label {
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
      }
      .label-input {
        margin: 0 auto 1.25rem auto;
        padding: 0.25rem;
      }
      #number-label {
          margin-top: 2rem;
      }
      input[type='number']{
        width: 150px;
    } 